*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
::-webkit-scrollbar {
  display: none;
}
.navbar-toggler {
  position: absolute;
  left: 1px;
  margin: 0 auto;
}

.search-icon {
  display: flex;
  align-items: center;
}

@media (max-width: 991px) {
  .search-icon {
    position: absolute;
    top: 15px;
    right: 15px;
  }
}

@media (max-width: 768px) {
  header h1 {
    font-size: 1.5rem;
  }
}

@media (max-width:560px){
  .large-bottom ul{
    font-size: .8rem;
 
    
  }
}
.carousel-inner img {
  height: 400px;
  object-fit: cover;
}

.carousel-indicators [data-bs-target] {
  position: relative;
  width: 60px;
  height: 6px;
  border: none;
  border-radius: 6px;
}

.carousel-indicators [data-bs-target] span {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #7952b3;
  border-radius: inherit;
}




.items ul {
  list-style: none;
  gap: 30px;
  display: flex;
  overflow: scroll;

}

.items li {
  display: flex;
  flex-direction: column;
  color: #222;

}

.items li img {
  height: 207px;
  width: 206px=
}

.section-body ul {
  list-style: none;
}

.card-body1 {
  text-align: left;
  z-index: 100;
}

.col a {
  border-bottom: 3px solid green;
  text-decoration: none;
  color: grey;
  border-radius: 2px;
}

.col img {
  transition: 0.2s ease-in-out;

}

.col img:hover {
  transform: scale(1.1) translateY(-8px);


}

.wider button {
  background-color: #f8f8f8;
  width: 100%;
  border: none;
  padding: 16px 6px;
  transition: .2s ease-in-out;
}

.wider button:hover {
  background-color: #DCDCDC;
}

.more {
  position: relative;
  bottom: 0;
}

.large-bottom ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 5px;
  flex-grow: 1;
  flex-wrap: wrap;
}

.large-bottom {
  display: flex;
  justify-content: center;
  font-size: 1.4rem;
}
.part-one,.part-two,.part-three,.part-four{
  display: flex;
  padding: 0;
  justify-content: center;
}

.large-bottom ul li:first-child {
  font-weight: 500;
}

.row { 
  margin: 0;
}

.icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  padding-bottom: 30px;
  flex-wrap: wrap;
}

.icons a {
  color: #696969;
  transition: color 0.3s ease;
}

.icons a:hover {
  color: #007bff;
}

.policies {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding-bottom: 40px;
  cursor: pointer;
  overflow-x: auto;
}

.policies a,
.items li a {
  text-decoration: none;
  color: #222;
  text-align: center;
  position: relative;
}

.policies a::after {
  content: " | ";
  text-decoration: none;
  color: #222;
  margin-left: 20px;
}

.policies a:last-child::after {
  content: none;
}

.bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  text-align: center;
}

.bottom a {
  text-decoration: none;
  color: #222;
  margin: 5px;
  font-weight: 500;
  transition: color 0.3s ease;
}

.bottom a:hover {
  color: #007bff;
}



.nav-item:hover {
  background-color: #f0f0f0;
}

.carousel-control-prev,
.carousel-control-next {
  background-color: transparent;
  border: none;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: rgb(230, 241, 230);
  color: #80c343;
  border-radius: 50%;
  padding: 25px;
}

.carousel-control-prev-icon:hover,
.carousel-control-next-icon:hover {
  background-color: #80c343;
  color: rgb(234, 241, 234);
}
